<template>
<main>
  <div class="animcontainer">
    <svg class="animcontainer_svg" xmlns="http://www.w3.org/2000/svg" width="640" height="480" viewbox="0 0 640 480">
      <image id="imageIntro" x="0" y="0" width="640" height="480" xlink:href="../assets/bg.jpg" />
      <rect id="introRect" width="250" height="100" x="390" y="460" fill="white"/>
      <text id="introText" x="525" y="350" fill="white"  font-family="serif" font-size="35" text-anchor="middle" transform="scale(1.36744)">
        ENTER
      </text>
      <clipPath id="mask1">
        <rect id="dropDownRectMask" width="250" height="274" x="390" y="-274"/>
      </clipPath>
      <rect width="250" height="274" x="390" fill="white" style="clip-path: url(#mask1);"/>
      <rect ref="button" id="rectExpand" width="250" height="50" x="390" y="224" fill="white" style="clip-path: url(#mask1); transform-origin: center center"/>
      <image id="human" x="-300" y="-220" width="960" height="720" xlink:href="../assets/human.png" />
      <text @click="handler()" id="start" x="527" y="296" stroke="" font-family="serif" font-size="24" text-anchor="middle" transform="translate(-206 -144) scale(1.36744)" style="clip-path: url(#mask1);">
        START
      </text>
    </svg>

    <div id="typewriter" ref="typewriter"style="color: white; font-size: 35;">
      <article id="content"></article>
    </div>
  </div>
</main>
</template>

<script>
import { TimelineMax } from 'gsap';
import TypeIt from 'typeit';

const MASTER = new TimelineMax();
const INTRO_PARS = [
  'Absence.. was all Mike could see as he set eyes on Nairobi for the first time.',
  'It was a ghost town, a shadow of its former vibrant self. Nothing like the stories his father told him growing up.',
];
const TYPEIT_OPTS = {
  speed: 50,
  lifelike: true,
};

export default {
  name: 'scene1',
  mounted() {
    this.$refs.typewriter.style.zIndex = -1;
    MASTER.add(this.scene1(), 'scene1');
  },
  data() {
    return {
      dropDownHeight: '100',
      status: 'hidden',
    };
  },
  methods: {
    typeIntro() {
      return new TypeIt('#content', { ...TYPEIT_OPTS })
        .pause(3000)
        .type(INTRO_PARS[0])
        .break()
        .break()
        .type(INTRO_PARS[1]);
    },
    handler() {
      MASTER.add(this.scene2(), 'scene2');
      MASTER.add(this.scene3(), 'scene3');
      this.typeIntro();
    },
    scene1() {
      const TL = new TimelineMax();
      TL.set('#human', {
        opacity: 0,
      });
      TL.set('#typewriter', {
        opacity: 0,
      });
      TL.set('#imageIntro', {
        scale: 1.2,
      });

      TL.add('intro');
      TL.to('#introRect', 1, {
        y: -10,
      }, 'intro');

      TL.fromTo('#introText', 1, {
        opacity: 0,
      },
        {
          y: 90,
          opacity: 1,
        }, 'intro');

      TL.to('#introText', 1, {
        y: 190,
      });

      TL.add('dropdown');

      TL.to('#introRect', 1, {
        y: 20,
      }, 'dropdown');
      TL.to('#dropDownRectMask', 3, {
        y: (274 * 2) - 50,
      }, 'dropdown');
      TL.to('#imageIntro', 5, {
        transformOrigin: 'center center',
        scale: 1.4,
      }, 'dropdown');


      return TL;
    },
    scene2() {
      const TL = new TimelineMax();
      this.$refs.button.style.removeProperty('clip-path');

      TL.to('#rectExpand', 0.5, {
        scaleY: 10.3,
        scaleX: 4.2,
        transformOrigin: 'center center',
      });

      TL.to('#start', 0.5, {
        opacity: 0,
      })
        .to('#imageIntro', 0.5, {
          opacity: 0,
        })
        .to('#human', 0.5, {
          opacity: 1,
        });
      return TL;
    },
    scene3() {
      this.$refs.typewriter.style.zIndex = 1;
      const TL = new TimelineMax();
      TL.to('#typewriter', 2,
                { opacity: 1 });
      return TL;
    },
  },

};
</script>

<style>
main {
    position: relative;
    height: 100vh;
    width: 100%;
}

.animcontainer {
    position: relative;
    height: 100vh;
    width: 100%;
    background: black;
    z-index: 0;
}

.animcontainer_svg {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px green;
}

#introText {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    border: solid 2px pink;
    height: 100%;
}

.isVisible {
    display: none;
}
#typewriter {
    position: absolute;
    top: 10px;
    right: 20%;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.5;
    height: 400px;
    width: 200px;
}

#content {
    opacity: 1;
}

#introRect {
}

#outroText__rect {

}

#outroText__text {
}
</style>
