<template>
<main>
  <div class="animcontainer" id="js-el">
    <svg class="animcontainer_svg" xmlns="http://www.w3.org/2000/svg" width="640" height="480">
      <rect id="introRect"width="250" height="30" x="390" y="450" fill="white"/>
      <text x="527" y="398" fill="white" stroke="#000" font-family="serif" font-size="24" text-anchor="middle" transform="translate(-206 -144) scale(1.36744)">
        ENTER
      </text>
      <rect width="250" height="169" x="390" fill="red"/>
      <rect width="250" height="50" x="390" y="224" fill="red"/>
      <text x="527" y="296" stroke="#000" font-family="serif" font-size="24" text-anchor="middle" transform="translate(-206 -144) scale(1.36744)">
    START
  </text>
</svg>
  </div>
</main>
</template>

<script>
</script>

<style>
main {
    position: relative;
    height: 100vh;
    width: 100%;
}

.animcontainer {
    position: absolute;
    width: 100%;
    height: 75%;
    background: black;
}

.animcontainer_svg {
    border: solid 2px green;
}
</style>
